body {
    background-color: black;
    color: white;
    max-width: 465px;
    min-width: 100px;
    margin: auto;
    font-family: sans-serif;
    font-style: bold;
}

.divider {
    border: 0;
    border-color: rgb(2, 2, 131);
    margin: 10px auto;
}

h1 {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
    color: white;
    margin: 25px auto;
}

fieldset {
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgb(15, 15, 15));
    color: white;
}

input[type="submit"] {
    margin: 10px auto;
    font-size: 16px;
}

textarea {
    align-items: center;
    min-width: 425px;
    min-height: 100px;
}
